{% extends "layouts/base.html" %}

{% block content %}
    <div class="max-w-7xl mx-auto rounded-lg border bg-white text-[#09090b] shadow-sm p-2">
        {% if stream_url %}
            <div class="flex items-center justify-center h-96 bg-slate-100 rounded-md">
                <img src="{{ stream_url }}" class="w-full h-full object-cover rounded-md" alt="Doorbell Video Stream">
            </div>
        {% else %}
            <div class="flex items-center justify-center h-96 bg-slate-100 rounded-md">
                <p class="text-lg text-gray-500">No video stream available</p>
            </div>
        {% endif %}
    </div>
{% endblock %}