{% extends "base.html" %}

{% block content %}
<h1 class="font-bold text-lg mx-auto w-fit">Dashboard</h1>
<video id="video" width="640" height="480" controls autoplay></video>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.min.js"></script>
<script>
    const video = document.getElementById('video');
    const mediaSource = new MediaSource();
    video.src = URL.createObjectURL(mediaSource);

    mediaSource.addEventListener('sourceopen', () => {
        const sourceBuffer = mediaSource.addSourceBuffer('video/mp4; codecs="avc1.42E01E, mp4a.40.2"');
        const socket = io();

        socket.on('video_frame', (data) => {
            sourceBuffer.appendBuffer(new Uint8Array(data));
        });
    });
</script>
{% endblock content %}