{% extends "layouts/base.html" %}

{% block content %}
<h1 class="font-bold text-lg mx-auto w-fit">Logs</h1>
<form hx-post="{{ url_for('logs') }}" hx-target="#log-container" hx-swap="innerHTML" class="mx-auto w-fit mt-6 grid grid-cols-2 gap-6">
    <div>
        <label for="lines" class="block mb-2 text-sm font-medium text-gray-900">Select number of lines to display:</label>
        <select name="lines" id="lines" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option value="25" {% if selected_lines == '25' %}selected{% endif %}>Last 25</option>
            <option value="50" {% if selected_lines == '50' %}selected{% endif %}>Last 50</option>
            <option value="200" {% if selected_lines == '200' %}selected{% endif %}>Last 200</option>
            <option value="all" {% if selected_lines == 'all' %}selected{% endif %}>All</option>
        </select>
    </div>
    <div class="flex items-end align-bottom">
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">Show Logs</button>
    </div>
    
</form>
<div id="log-container" class="mt-6">
    {% include "partials/log_view.html" %}
</div>
{% endblock content %}
