<div class="grid grid-cols-2 gap-4 items-center align-center justify-center w-fit mx-auto">
    {% for relay in relay_names %}
    <div class="flex flex-col gap-2 items-center">
        <button hx-post="{{ url_for('relay')}}" hx-trigger="click" hx-target="#relay_button_message_{{relay}}"
            hx-swap="outerHTML" id="relay_button_{{relay}}" name="relay_name" type="submit" value="{{ relay }}"
            class="text-white bg-black hover:bg-black/80 h-9 px-4 text-sm font-normal flex items-center justify-start whitespace-nowrap rounded-md ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 w-fit">
            {{ relay }}
        </button>
        <div id="relay_button_message_{{relay}}"></div>
    </div>
    {% endfor %}
</div>