<div id="sidebar" class="min-w-[50px] border-r border-gray-200 w-full max-w-56 h-screen">
  <div class="flex h-[52px] items-center justify-center">
    <a class="text-lg font-semibold tracking-tighter text-black focus:outline-none focus:ring px-4" href="/">
      virtualchime
    </a>
  </div>
  <div class="shrink-0 bg-gray-200 h-[1px] w-full"></div>
  <div class="flex flex-col items-center justify-center">
    <nav class="grid gap-1 p-2 w-full text-sm font-normal">
      <a 
      x-data="{ isActive: window.location.pathname === '/' }" 
      :class="isActive ? 'bg-black text-white' : 'bg-white text-black'" 
      class="hover:bg-black/20 h-9 px-4 w-full flex items-center justify-start whitespace-nowrap rounded-md ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2" 
      href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><rect width="7" height="9" x="3" y="3" rx="1"/><rect width="7" height="5" x="14" y="3" rx="1"/><rect width="7" height="9" x="14" y="12" rx="1"/><rect width="7" height="5" x="3" y="16" rx="1"/></svg>
        <span class="ml-4">Dashboard</span>
      </a>
      <a 
      x-data="{ isActive: window.location.pathname === '/logs' }" 
      :class="isActive ? 'bg-black text-white' : 'bg-white text-black'" 
      class="hover:bg-black/20 h-9 px-4 w-full flex items-center justify-start whitespace-nowrap rounded-md ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2" 
      href="/logs">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="m8 16 2-2-2-2"/><path d="M12 18h4"/></svg>
        <span class="ml-4">Logs</span>
      </a>
      <a 
      x-data="{ isActive: window.location.pathname === '/settings' }" 
      :class="isActive ? 'bg-black text-white' : 'bg-white text-black'" 
      class="hover:bg-black/20 h-9 px-4 w-full flex items-center justify-start whitespace-nowrap rounded-md ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2" 
      href="/settings">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/><circle cx="12" cy="12" r="3"/></svg>
        <span class="ml-4">Settings</span>
      </a>
    </nav>
  </div>
</div>